 @charset "utf-8";
	.clearfix:before,
	.clearfix:after {
	  content: "";
	  display: table;
	} 
	.clearfix:after {
	  clear: both;
	}
	.clearfix {
	  zoom: 1; / For IE 6/7 (trigger hasLayout) /
	}
/*--- 產品內容 ---*/



.boxF5 ul li.pd_kvF5{
	 padding: 0;
}


ul.pd_wrapF5 {
	width: 100%;
	text-align: center;
	overflow: hidden;

}
.hotF5, .pd_titleF5, ul.pd_wrapF5 p {
	width: 100%;
	font-weight: bold;
	height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
}
ul.pd_wrapF5 li { 
	width: calc(100% / 5);
	font-size: 16px;
	display: inline-block;
	background-color: #fff;	
}
.pd_titleF5 {
	color: #000;
}

ul.pd_wrapF5 p {
	color: #666;
	font-weight: normal;
}

ul.pd_wrapF5 span {
	vertical-align: baseline;
}

span.old_priceF5 {
	text-decoration: line-through;
	font-size: 15px;
}


span.pcs5 {
	font-size: 14px;
    text-decoration: none;
    font-weight: normal;
	color: #dd0202;
}

span.hot_priceF5 {
	color: #d00;
	font-size: 22px;
}

span.hot_priceF5 small {
	font-size: 60%;
}

span.buyF5 {
	background-color: #d00!important;
	color: #fffa1e;
	font-size: 11px;
	padding: 1px 3px;
	vertical-align: 3px !important;
}






/*--- 共用 ---*/
.mg_t10		{ margin-top: 20px; }
.over-hide 	{ overflow: hidden; }
.nomargin  	{ margin: 0 !important; }
ul.pd_wrapF5 img  	{ width: 100%; max-width: 100%; }


@media only screen and (max-width: 931px) {
	.desktop {display:none;}
	ul.pd_wrapF5 li 	{ width: calc(100% / 2); }
	ul.pd_wrapF5 li:nth-child(1) 	{ width:100%!important; }
}


@media only screen and (max-width: 450px) {
	.hotF5, .pd_titleF5, ul.pd_wrapF5 p 	{ font-size: 3.5vw; height: 26px; line-height: 26px; }
	ul.pd_wrapF5 p 					{ letter-spacing: -1px; }
	span.old_priceF5 					{ font-size: 2vw; }
	span.hot_priceF5 					{ font-size: 6vw; }
	span.buyF5 						{ font-size: 2vw; }
	.boxF5 ul li.pd_kvF5{
		margin-top: -4px;
	}
}


