 @charset "utf-8";

/*--- 產品內容 ---*/
ul.pd_wrapF1 {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.hotF1, .pd_titleF1, ul.pd_wrapF1 p {
	width: 100%;
	font-weight: bold;
	height: 32px;
    line-height: 32px;
    overflow: hidden;
    font-size: 16px;
}
ul.pd_wrapF1 li { 
	width: calc(100% / 4);
	font-size: 16px;
	float: left;
	background-color: #fff;	
}
.pd_titleF1 {
	color: #000;
}
ul.pd_wrapF1 p {
	color: #666;
	font-weight: normal;
}
ul.pd_wrapF1 span {
	vertical-align: baseline;
}
span.old_priceF1 {
	text-decoration: line-through;
	font-size: 15px;
}


span.pcs1 {
	font-size: 16px;
    text-decoration: none;
    font-weight: normal;
	color: #dd0202;
}

span.hot_priceF1 {
	color: #d00;
	font-size: 24px;
}
span.hot_priceF1 small {
	font-size: 60%;
}
span.buyF1 {
	background-color: #d00!important;
	color: #fffa1e;
	font-size: 11px;
	padding: 1px 3px;
	vertical-align: 3px !important;
}

/*--- 共用 ---*/
.mg_t10		{ margin-top: 20px; }
.over-hide 	{ overflow: hidden; }
.nomargin  	{ margin: 0 !important; }
ul.pd_wrapF1 img  	{ width: 100%; max-width: 100%; }


@media only screen and (max-width: 931px) {
	
	ul.pd_wrapF1 li 	{ width: calc(100% / 2); }

}
@media only screen and (max-width: 450px) {
	.hotF1, .pd_titleF1, ul.pd_wrapF1 p 	{ font-size: 3.5vw; height: 26px; line-height: 26px; }
	ul.pd_wrapF1 p 					{ letter-spacing: -1px; }
	span.old_priceF1 					{ font-size: 2vw; }
	span.hot_priceF1 					{ font-size: 6vw; }
	span.buyF1						{ font-size: 2vw; }
}


