/* é‡å° panel è¨­è¨ˆå±¬æ–¼å°ç£ä¹‹æ˜Ÿçš„æ¨£å¼*/
.ts-faq {
  background-color: #fff;
  padding-top: 20px;
}
.ts-faq .panel-subject {
  margin-top: 10px;
}
.ts-faq .panel-title {
    font-size: 14px;
    line-height: 19.5px;
    letter-spacing: .2px;

  }
.ts-faq .panel-heading,
.ts-faq .panel-group .panel {
  border-radius: 2px;
  
}
.ts-faq .panel-group .panel {
  margin-top: 8px;
}
  .ts-faq .panel-heading a {
    position: relative;
    display: block;
    width: 95%;
    transition: all 0.125s ease-in-out 0s;
    
  }
  .ts-faq .panel-heading a:hover,
  .ts-faq .panel-heading a:focus {
    text-decoration: none;
    color: #aaa;
    outline: 0;
  }
  .ts-faq .panel-heading a:after {
    position: absolute;
    content: "\EA11";
    top: .8em;
    right: -5%;
    font-family: "ts-icons";
    line-height: 1;
    font-size: 14px;
    margin-top: -7px;
    transform: scale(.4,.3);
  }
  
  .ts-faq .panel-heading a.collapsed:after {
    content: "\EA11";
  }
  .ts-faq .panel-divider-w {
    border-top: 1px solid #eaeaea;
    margin: 0;
  }
  
  .ts-faq .panel-divider-d {
    border-top: 1px solid #202020;
    margin: 0;
  }
.ts-faq .panel-body {
  font-size: 14px;
  line-height: 1.8;
}
  .ts-faq .panel-body > ul {
    margin: 0 0 20px;
  }
  .ts-faq .panel-body li {
    margin-bottom: 0;
  }