@charset "UTF-8";
.yd_cal {
    background: #f9f9f9;
    width: 100%;
    padding: 60px 10px 75px;
    font-size: 20px;
    font-family: "PingFangTC", "Arial", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yd_cal *,
.yd_cal *:before,
.yd_cal *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yd_form-wrap {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.yd_title,
.yd_subtitle {
    text-align: center;
}

.yd_title {
    font-size: 35px;
}

.yd_subtitle {
    font-size: 24px;
    margin: 10px 0 30px;
}

@media (max-width: 991px) {
    .yd_subtitle {
        margin-bottom: 20px;
    }
}

.yd_subtitle br {
    display: none;
}

@media (max-width: 991px) {
    .yd_subtitle br {
        display: block;
    }
}

.yd_section {
    background: #fff;
    padding: 10px 20px 30px;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .yd_section {
        margin-top: 10px;
        padding: 10px;
    }
}

.yd_section-title {
    font-size: 35px;
    color: #87286e;
    text-align: center;
}

.yd_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -10px;
}

@media (max-width: 991px) {
    .yd_row {
        margin: 0;
    }
}

.yd_col-md-3 {
    width: 25%;
    padding: 0 10px;
}

.yd_col-md-4 {
    width: 33.33%;
    padding: 0 10px;
}

.yd_col-md-4 .yd_select:before {
    right: 20%;
}

@media (max-width: 991px) {
    .yd_col-md-4 .yd_select:before {
        right: 30%;
    }
}

.yd_col-md-4,
.yd_col-md-3 {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .yd_col-md-4,
    .yd_col-md-3 {
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .yd_col-12 {
        padding: 0;
        width: 100%;
    }
    .yd_col-12:first-child {
        margin-top: 20px;
    }
}

.yd_item {
    margin-top: 30px;
}

.yd_item:first-child {
    margin-top: 16px;
}

.yd_item-title {
    background: #fff;
    position: relative;
    overflow: hidden;
}

.yd_item-title:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background: #eee;
}

.yd_item-title span {
    padding: 0 10px 0 30px;
    position: relative;
}

.yd_item-title span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(../../images/4gform/ic_navigate_next_24px.svg);
    background-position: center center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.yd_input {
    display: none;
}

.yd_input:checked+.yd_select {
    border: solid 1px #87286e;
    color: #fff;
    background: #87286e;
}

.yd_input:checked+.yd_select span span {
    color: #fff;
}

.yd_input.disable:checked+.yd_select,
.yd_input.disable+.yd_select {
    background: #eee;
    color: #999;
    border: solid 1px #eee;
    pointer-events: none;
}

.yd_input.disable:checked+.yd_select:hover,
.yd_input.disable+.yd_select:hover {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.yd_input.disable:checked+.yd_select span span,
.yd_input.disable+.yd_select span span {
    color: #999;
}

.yd_select {
    background: #fff;
    border-radius: 2px;
    padding: 10px 15px;
    border: solid 1px #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 0;
}

.yd_select:before {
    content: '';
    height: 30px;
    width: 1px;
    background: #eee;
    position: absolute;
    top: 50%;
    right: 30%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.yd_select:hover {
    border: solid 1px transparent;
    -webkit-box-shadow: 0 0 0 2px #87286e inset;
    box-shadow: 0 0 0 2px #87286e inset;
}

.yd_select span:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.yd_select span span {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 14px;
    color: #999;
    margin-left: 5px;
}

.yd_rate {
    padding: 10px 20px;
    background: #f5f5f5;
}

@media (max-width: 991px) {
    .yd_rate {
        padding: 10px 8px;
    }
}

.yd_rate span {
    color: #87286e;
}

.yd_result {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.yd_total-price {
    font-size: 24px;
    margin-right: 30px;
    min-width: 210px;
}

@media (max-width: 991px) {
    .yd_total-price {
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.yd_total-price span {
    font-size: 35px;
    color: #87286e;
    margin-left: 4px;
}

.yd_btn {
    border-radius: 23px;
    width: 253px;
    height: 46px;
    line-height: 46px;
    border: solid 1px #87286e;
    text-align: center;
    color: #87286e;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media (max-width: 991px) {
    .yd_btn {
        margin: 0 auto;
    }
}

.yd_btn:hover {
    color: #ff0084;
    border-color: #ff0084;
}

.yd_btn a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.yd_btn-group {
    margin: 0 -5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

@media (max-width: 991px) {
    .yd_btn-group {
        margin: 0;
    }
}

.yd_btn-row {
    padding: 0 5px;
}

@media (max-width: 991px) {
    .yd_btn-row {
        padding: 0;
        width: 100%;
    }
    .yd_btn-row:not(:first-child) {
        margin-top: 10px;
    }
}

[v-cloak] {
    display: none;
}