@charset "UTF-8";
/* CSS Document */

*{
	margin: 0 auto;
	padding: 0;
}
img{
	border: none;
}

body, html{
	position: relative;
	font-family:  Arial, Helvetica, "Microsoft JhengHei", sans-serif;
	box-sizing: border-box;
	width: 100%;
}


#wrap{
	width: 932px;
	margin: 0 auto;
}

